
/* below stuff works cuz i commeted out body class in index css */
.body{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid blue; 
  /* width: 100vw; */
  height: 100vh;
}
.todo-container {
  /* display: flex; */
  /* align-items: cen; */
  /* justify-content: center; */
  /* align-items: center;s */
  border: 2px solid white; 

  .todo-item {
    display: flex;
    border: 1px solid white;
    
  }
}
